<h2>add word</h2>
<form action="/add_word" method="post">
  <div class="form-group">
    <label for="word">word</label>
    <input name="word" class="form-control">
    <label for="definition">definition</label>
    <textarea name="definition" class="form-control" rows="3"></textarea>
    <hr>
    <button type="submit" class="btn btn-success">add word</button>
    <a href="/" class="btn btn-info">back</a>
  </div>
</form>