<%="<h3>#{@word.describe}</h3>"%>
<%="<p>#{@word.definition}</p>"%>
<form action="/update_word" method="post">
  <div>
    <label for="definition">add definition</label>
    <textarea name="definition" class="form-control" rows="3"></textarea>
    <hr>
    <button type="submit" class="btn btn-success">add another definition</button>
    <a href="/" class="btn btn-info">back</a>
    <a href="/words/delete" class="btn btn-danger">delete word</a>
  </div>
</form>

